body {
    font-family: "Didact Gothic", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Oxygen", serif;
    color: #00303f;
}

.card-img-top {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0px;
    margin: 12px 0px 12px 0px;
    width: 100%;
}

img {
    border-radius: 4px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 12px 0px 12px 0px;
}

h3 {
    color: #00303f;
    font-size: 35px;
    background: #cae4db; 
}

h4 {
    color: #00303f;
    font-size: 25px;
    font-weight: bold
}

.modal-img {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 6px;
    width: 100%;
}

footer {
    background-color: #cdac81;
    padding: 20px;

}

headert {
    background-color: #cae4db;
    padding: 16px 6px 16px 6px;
    height: 400px;
}

button {
    margin: 12px 0px 0px 0px;
}

.header-img {
    width: 400px;
    border-radius: 50%;
}

.logo {
    max-width: 120px;
    height: auto;
}

h1 {
    text-align: left;
    font-size: 55px;
}

h2 {
    margin: 20px auto 20px;
    text-align: center;
    color: #00303f;
    font-size: 45px;
}

#museumCarousel {
    margin:  12px auto;
}

.img-lgc {
    height: 300px;
}

.jumbotron-fluid {
    background-color: #cae4db;
    padding: 16px 6px 16px 6px;
    height: 400px;
    margin-bottom: 100px;
}

.lgc-img {
    width: 300px;
    float: right;
    margin: 0px auto 20px;
}

.journey-section {
    border: 5px solid #00303f;
    padding: 20px;
}

.lgc-row {
    margin: 0px auto 0px;
}

.donateBtn {
    width: 150px;
}

.btn-warning {
    background-color: #cae4db;
    color: #00303f;
}