.card-img-top {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 6px;
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text {
    margin: 10px 10px 10px 10px;
}

h4 {

}

.modal-img {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 6px;
    width: 100%;
}